/* You can add global styles to this file, and also import other style files */

:root {
    --color-primario: gray;
    --color-segundario: white;
    --color-terciario: orange;
    --color-text: black;
}

body {
    background: var(--color-terciario);
}

.bg {
    background: gray;
}